<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.eetac.dsa.okupainfo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.okupainfo.UsersListActivity"
            android:label="@string/title_activity_casals_list"
            android:theme="@style/AppTheme.PopupOverlay" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.UserDetailActivity" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.UserCreateActivity" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.okupainfo.CasalsListActivity"
            android:label="@string/title_activity_casals_list"
            android:theme="@style/AppTheme.PopupOverlay" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.CasalCreateActivity" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.CasalDetailActivity" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.okupainfo.EventsListActivity"
            android:label="@string/title_activity_events_list"
            android:theme="@style/AppTheme.PopupOverlay" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.EventDetailActivity" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.EventCreateActivity" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.okupainfo.Comments_EventsListActivity"
            android:label="@string/title_activity_commentevents_list"
            android:theme="@style/AppTheme.PopupOverlay" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.Comments_EventsDetailActivity" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.Comments_EventsCreateActivity" >
        </activity>
        <activity
            android:name="edu.upc.eetac.dsa.okupainfo.Comments_CasalsListActivity"
            android:label="@string/title_activity_commentcasals_list"
            android:theme="@style/AppTheme.PopupOverlay" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.Comments_CasalsDetailActivity" >
        </activity>
        <activity android:name="edu.upc.eetac.dsa.okupainfo.Comments_CasalsCreateActivity" >
        </activity>

    </application>

</manifest>